
**<h1>Content Based Rcommender system for Auctions </h1>**

<h2>1- Import needed librairies and datasets</h2>

In [337]:
import pandas as pd
import pymongo
from pymongo import MongoClient

<h2>1-Connect to mongodb and get datasets</h2>

In [338]:
cluster = MongoClient("mongodb+srv://sahloulmouhib:sahloul1992@cluster0.qvcjt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db=cluster['acutionAppDatabase']
collection=db['auctions']

df2 = pd.DataFrame(list(collection.find({})))
df2['_id']=df2['_id'].astype(str)
df2['user']=df2['user'].astype(str)

df3=df2.copy(deep=True)

<h2>2- Dataset overview</h2>

In [339]:
df2.head(10)

,_id,title,description,user,startingDate,startingPrice,preferredPrice,closingDate,numberOfBids,active,category,images,currentPrice,__v,winningBidder,thumbnail,categoryID
0,407f1f77bcf86cd79943901a,Sleek Steel Ball,Carbonite web goalkeeper gloves are ergonomica...,507f1f77bcf86cd79943901a,2022-03-16 06:26:30.102,953,9460,2022-04-08 10:49:00.061,7,False,jewelry and watches,[https://source.unsplash.com/category/technolo...,10057,0,621ce00fb5130c1808c984bf,NaN,NaN
1,407f1f77bcf86cd79943901b,Ergonomic Granite Bacon,The Football Is Good For Training And Recreati...,507f1f77bcf86cd79943901b,2022-03-14 07:25:42.586,130,4052,2022-04-15 14:36:37.854,5,False,antiques and primitives,[https://source.unsplash.com/category/technolo...,4093,0,6241a82995e7475e444e9b3b,NaN,NaN
2,407f1f77bcf86cd79943901c,Practical Concrete Cheese,Ergonomic executive chair upholstered in bonde...,507f1f77bcf86cd79943901c,2022-03-16 19:24:46.394,104,5315,2022-03-27 12:42:56.383,1,True,phones & computers,[https://source.unsplash.com/category/technolo...,1100,0,NaN,NaN,NaN
3,407f1f77bcf86cd79943901d,Incredible Frozen Pants,The Apollotech B340 is an affordable wireless ...,507f1f77bcf86cd79943901d,2022-03-15 04:09:11.037,739,1886,2022-03-25 00:05:27.070,6,True,antiques and primitives,[https://source.unsplash.com/category/technolo...,1788,0,NaN,NaN,NaN
4,407f1f77bcf86cd79943901e,Rustic Metal Chair,The slim & simple Maple Gaming Keyboard from D...,507f1f77bcf86cd79943901e,2022-03-16 20:58:32.823,301,5535,2022-03-26 00:05:59.831,13,True,electronics,[https://source.unsplash.com/category/technolo...,1854,0,NaN,NaN,NaN
5,407f1f77bcf86cd79943901f,Incredible Plastic Shirt,The slim & simple Maple Gaming Keyboard from D...,507f1f77bcf86cd79943901f,2022-03-15 09:44:31.958,668,6368,2022-03-27 01:26:47.877,6,True,electronics,[https://source.unsplash.com/category/technolo...,1543,0,NaN,NaN,NaN
6,6241a586dd804b5ba907bf58,Handcrafted Rubber Mouse,The Nagasaki Lander is the trademarked name of...,507f1f77bcf86cd79943901d,2022-03-16 08:37:21.416,980,4859,2022-03-28 08:13:15.503,8,True,automotives,[https://source.unsplash.com/category/technolo...,2997,0,NaN,NaN,NaN
7,6241a586dd804b5ba907bf59,Incredible Wooden Table,The slim & simple Maple Gaming Keyboard from D...,507f1f77bcf86cd79943901d,2022-03-14 13:44:09.532,643,3879,2022-03-28 12:05:54.793,7,True,clothing and wellness,[https://source.unsplash.com/category/technolo...,1710,0,NaN,NaN,NaN
8,6241a586dd804b5ba907bf5c,Handcrafted Metal Tuna,The automobile layout consists of a front-engi...,507f1f77bcf86cd79943901a,2022-03-14 11:48:35.552,162,8759,2022-03-28 15:40:03.023,16,True,jewelry and watches,[https://source.unsplash.com/category/technolo...,1893,0,NaN,NaN,NaN
9,6241a586dd804b5ba907bf5d,Rustic Cotton Mouse,Carbonite web goalkeeper gloves are ergonomica...,507f1f77bcf86cd79943901b,2022-03-15 15:57:51.542,679,6240,2022-03-29 15:39:38.047,14,True,collectibles,[https://source.unsplash.com/category/technolo...,4815,0,NaN,NaN,NaN

In [340]:

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             117 non-null    object
 1   title           117 non-null    object
 2   description     117 non-null    object
 3   user            117 non-null    object
 4   startingDate    117 non-null    datetime64[ns]
 5   startingPrice   117 non-null    int64
 6   preferredPrice  117 non-null    int64
 7   closingDate     117 non-null    datetime64[ns]
 8   numberOfBids    117 non-null    int64
 9   active          117 non-null    bool
 10  category        64 non-null     object
 11  images          117 non-null    object
 12  currentPrice    117 non-null    int64
 13  __v             117 non-null    int64
 14  winningBidder   18 non-null     object
 15  thumbnail       61 non-null     object
 16  categoryID      53 non-null     float64
dtypes: bool(1), datetime64[ns](2), float64(1), int64(5), object(8)
memory usage: 14.9+ KB

<h2>3- Dataset cleaning</h2>

In [341]:
df2=df2.drop(['__v'], axis=1)
df3=df3.drop(['__v'], axis=1)
df2 = df2.drop(df2[df2.active == False].index)
df3 = df3.drop(df3[df3.active == False].index)

df2 = df2.reset_index()
df3 = df3.reset_index()

In [342]:
df3.shape

(99, 17)

<h2>4- Auction title based recommender</h2>

In [343]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'....
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df2['title'] = df2['title'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df2['title'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(99, 58)

In [344]:
# print(tfidf_matrix)

In [345]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [346]:
# Function that takes in auction auction_id as input and outputs most similar auctions
def get_recommendations_title(auction_id, cosine_sim=cosine_sim):
    try:
        # Get the index of the auction that matches the auction_id
        idx =df2.index[df2['_id'] == auction_id][0]
    
        # Get the pairwsie similarity scores of all auctions with that auction
        sim_scores = list(enumerate(cosine_sim[idx]))

        # Sort the auctions based on the similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the scores of the 10 most similar auctions
        sim_scores = sim_scores[1:11]

        # Get the auction indices
        auction_indices = [i[0] for i in sim_scores]
    except:
        return []
    # Return the top 10 most similar auctions
    return df3[['title','description','category','user']].iloc[auction_indices]

In [347]:
#get_recommendations_title("407f1f77bcf86cd79943901b")

<h2>5- Auction metadata based recommender</h2>

In [348]:

# from ast import literal_eval


## Parse the stringified features into their corresponding python objects
# features = ['keywords']
# for feature in features:
#     df2[feature] = df2[feature].apply(literal_eval)

In [349]:
# # Returns the list top 3 elements or entire list; whichever is more.
# def get_list(x):
#     if isinstance(x, list):
#         names = [i['name'] for i in x]
#         #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
#         if len(names) > 3:
#             names = names[:3]
#         return names

#     #Return empty list in case of missing/malformed data
#     return []

In [350]:
# # Define keywords features that are in a suitable form.


# features = [keywords']
# for feature in features:
#     df2[feature] = df2[feature].apply(get_list)

In [351]:
df2[['category', 'title', 'description']].head(3)

,category,title,description
0,phones & computers,Practical Concrete Cheese,Ergonomic executive chair upholstered in bonde...
1,antiques and primitives,Incredible Frozen Pants,The Apollotech B340 is an affordable wireless ...
2,electronics,Rustic Metal Chair,The slim & simple Maple Gaming Keyboard from D...

In [352]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    
    if isinstance(x, list):
        
        return [str.lower(i.replace(" ", "")) for i in x]
        
    else:
        #Check if director exists. If not, return empty string
       
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [353]:

# df3["keywords"] = df2["keywords"].apply(clean_data)

In [354]:
# Apply clean_data function to your features.
features = ['category']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [355]:
def create_soup(x):
    #return ( x['category']+' '+x['title']+' '+x['keywords']+' '+x['user'])
    return ( x['category']+' '+x['title']+ ' '+x['description']+" "+x['user'])
df2['soup'] = df2.apply(create_soup, axis=1)
print(df2['soup'][0])

phones&computers Practical Concrete Cheese Ergonomic executive chair upholstered in bonded black leather and PVC padded seat and back for all-day comfort and support 507f1f77bcf86cd79943901c

In [356]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')

count_matrix = count.fit_transform(df2['soup'])

In [357]:
import pickle
pickle.dump(count_matrix, open("model.pkl", "wb"))

In [358]:
# import pickle
# count_matrix = pickle.load(open("./model.pkl", "rb"))

In [359]:
# from sklearn.metrics.pairwise import cosine_similarity

# cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [360]:
# # Function that takes in auction auction_id as input and outputs most similar auctions
# def get_recommendations_metadata(auction_id, cosine_sim=cosine_sim2):
#     # Get the index of the auction that matches the auction_id
#     idx =df3.index[df3['_id'] == auction_id][0]
    
#     # Get the pairwsie similarity scores of all auctions with that auction
#     sim_scores = list(enumerate(cosine_sim[idx]))

#     # Sort the auctions based on the similarity scores
#     sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

#     # Get the scores of the 10 most similar auctions
#     sim_scores = sim_scores[1:6]

#     # Get the auction indices
#     auction_indices = [i[0] for i in sim_scores]

#     # Return the top 10 most similar auctions
#     return df3['_id'].iloc[auction_indices].to_json(orient = 'records')

In [361]:
#  get_recommendations_metadata('624eb59c8448373923b6fa35')