
**<h1>Content Based Rcommender system for Auctions </h1>**

<h2>1- Import needed librairies and datasets</h2>

In [80]:
import pandas as pd 
import numpy as np 

#Import dataset twice because the first one will be changed 
df2=pd.read_csv('./auctions.csv')
df3=pd.read_csv('./auctions.csv')

<h2>2- Dataset overview</h2>

In [81]:
df2.head(10)

,__v,_id,active,category,closingDate,currentPrice,description,images,numberOfBids,preferredPrice,startingDate,startingPrice,thumbnail,title,user,winningBidder
0,0,407f1f77bcf86cd79943901a,False,jewelry and watches,2022-04-08T10:49:00.061Z,10057,Carbonite web goalkeeper gloves are ergonomica...,"[""https://source.unsplash.com/category/technol...",7,9460,2022-03-16T06:26:30.102Z,953,NaN,Sleek Steel Ball,507f1f77bcf86cd79943901a,621ce00fb5130c1808c984bf
1,0,407f1f77bcf86cd79943901b,False,antiques and primitives,2022-04-15T14:36:37.854Z,4093,The Football Is Good For Training And Recreati...,"[""https://source.unsplash.com/category/technol...",5,4052,2022-03-14T07:25:42.586Z,130,NaN,Ergonomic Granite Bacon,507f1f77bcf86cd79943901b,6241a82995e7475e444e9b3b
2,0,407f1f77bcf86cd79943901c,True,phones & computers,2022-03-27T12:42:56.383Z,1100,Ergonomic executive chair upholstered in bonde...,"[""https://source.unsplash.com/category/technol...",1,5315,2022-03-16T19:24:46.394Z,104,NaN,Practical Concrete Cheese,507f1f77bcf86cd79943901c,NaN
3,0,407f1f77bcf86cd79943901d,True,antiques and primitives,2022-03-25T00:05:27.070Z,1788,The Apollotech B340 is an affordable wireless ...,"[""https://source.unsplash.com/category/technol...",6,1886,2022-03-15T04:09:11.037Z,739,NaN,Incredible Frozen Pants,507f1f77bcf86cd79943901d,NaN
4,0,407f1f77bcf86cd79943901e,True,electronics,2022-03-26T00:05:59.831Z,1854,The slim & simple Maple Gaming Keyboard from D...,"[""https://source.unsplash.com/category/technol...",13,5535,2022-03-16T20:58:32.823Z,301,NaN,Rustic Metal Chair,507f1f77bcf86cd79943901e,NaN
5,0,407f1f77bcf86cd79943901f,True,electronics,2022-03-27T01:26:47.877Z,1543,The slim & simple Maple Gaming Keyboard from D...,"[""https://source.unsplash.com/category/technol...",6,6368,2022-03-15T09:44:31.958Z,668,NaN,Incredible Plastic Shirt,507f1f77bcf86cd79943901f,NaN
6,0,6241a586dd804b5ba907bf58,True,automotives,2022-03-28T08:13:15.503Z,2997,The Nagasaki Lander is the trademarked name of...,"[""https://source.unsplash.com/category/technol...",8,4859,2022-03-16T08:37:21.416Z,980,NaN,Handcrafted Rubber Mouse,507f1f77bcf86cd79943901d,NaN
7,0,6241a586dd804b5ba907bf59,True,clothing and wellness,2022-03-28T12:05:54.793Z,1710,The slim & simple Maple Gaming Keyboard from D...,"[""https://source.unsplash.com/category/technol...",7,3879,2022-03-14T13:44:09.532Z,643,NaN,Incredible Wooden Table,507f1f77bcf86cd79943901d,NaN
8,0,6241a586dd804b5ba907bf5c,True,jewelry and watches,2022-03-28T15:40:03.023Z,1893,The automobile layout consists of a front-engi...,"[""https://source.unsplash.com/category/technol...",16,8759,2022-03-14T11:48:35.552Z,162,NaN,Handcrafted Metal Tuna,507f1f77bcf86cd79943901a,NaN
9,0,6241a586dd804b5ba907bf5d,True,collectibles,2022-03-29T15:39:38.047Z,4815,Carbonite web goalkeeper gloves are ergonomica...,"[""https://source.unsplash.com/category/technol...",14,6240,2022-03-15T15:57:51.542Z,679,NaN,Rustic Cotton Mouse,507f1f77bcf86cd79943901b,NaN

In [82]:

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   __v             117 non-null    int64
 1   _id             117 non-null    object
 2   active          117 non-null    bool
 3   category        64 non-null     object
 4   closingDate     117 non-null    object
 5   currentPrice    117 non-null    int64
 6   description     117 non-null    object
 7   images          117 non-null    object
 8   numberOfBids    117 non-null    int64
 9   preferredPrice  117 non-null    int64
 10  startingDate    117 non-null    object
 11  startingPrice   117 non-null    int64
 12  thumbnail       60 non-null     object
 13  title           117 non-null    object
 14  user            117 non-null    object
 15  winningBidder   18 non-null     object
dtypes: bool(1), int64(5), object(10)
memory usage: 14.0+ KB

<h2>3- Dataset cleaning</h2>

In [83]:
df2=df2.drop(['__v'], axis=1)
df3=df3.drop(['__v'], axis=1)
df2 = df2.drop(df2[df2.active == False].index)
df3 = df3.drop(df3[df3.active == False].index)

df2 = df2.reset_index()
df3 = df3.reset_index()

In [84]:
df3.shape

(99, 16)

<h2>4- Auction title based recommender</h2>

In [85]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'....
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df2['title'] = df2['title'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df2['title'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(99, 58)

In [86]:
# print(tfidf_matrix)

In [87]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [88]:
# Function that takes in auction auction_id as input and outputs most similar auctions
def get_recommendations_title(auction_id, cosine_sim=cosine_sim):
    # Get the index of the auction that matches the auction_id
    idx =df2.index[df2['_id'] == auction_id][0]
    
    # Get the pairwsie similarity scores of all auctions with that auction
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the auctions based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar auctions
    sim_scores = sim_scores[1:11]

    # Get the auction indices
    auction_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar auctions
    return df3[['title','description','category','user']].iloc[auction_indices]

In [89]:
#get_recommendations_title("407f1f77bcf86cd79943901b")

<h2>5- Auction metadata based recommender</h2>

In [90]:

# from ast import literal_eval


## Parse the stringified features into their corresponding python objects
# features = ['keywords']
# for feature in features:
#     df2[feature] = df2[feature].apply(literal_eval)

In [91]:
# # Returns the list top 3 elements or entire list; whichever is more.
# def get_list(x):
#     if isinstance(x, list):
#         names = [i['name'] for i in x]
#         #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
#         if len(names) > 3:
#             names = names[:3]
#         return names

#     #Return empty list in case of missing/malformed data
#     return []

In [92]:
# # Define keywords features that are in a suitable form.


# features = [keywords']
# for feature in features:
#     df2[feature] = df2[feature].apply(get_list)

In [93]:
df2[['category', 'title', 'description']].head(3)

,category,title,description
0,phones & computers,Practical Concrete Cheese,Ergonomic executive chair upholstered in bonde...
1,antiques and primitives,Incredible Frozen Pants,The Apollotech B340 is an affordable wireless ...
2,electronics,Rustic Metal Chair,The slim & simple Maple Gaming Keyboard from D...

In [94]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    
    if isinstance(x, list):
        
        return [str.lower(i.replace(" ", "")) for i in x]
        
    else:
        #Check if director exists. If not, return empty string
       
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [95]:

# df3["keywords"] = df2["keywords"].apply(clean_data)

In [96]:
# Apply clean_data function to your features.
features = ['category']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [97]:
def create_soup(x):
    #return ( x['category']+' '+x['title']+' '+x['keywords']+' '+x['user'])
    return ( x['category']+' '+x['title']+ ' '+x['description']+" "+x['user'])
df2['soup'] = df2.apply(create_soup, axis=1)
print(df2['soup'][0])

phones&computers Practical Concrete Cheese Ergonomic executive chair upholstered in bonded black leather and PVC padded seat and back for all-day comfort and support 507f1f77bcf86cd79943901c

In [98]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')

count_matrix = count.fit_transform(df2['soup'])

In [99]:
import pickle
pickle.dump(count_matrix, open("model.pkl", "wb"))

In [100]:
# import pickle
# count_matrix = pickle.load(open("./model.pkl", "rb"))

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [102]:
# Function that takes in auction auction_id as input and outputs most similar auctions
def get_recommendations_metadata(auction_id, cosine_sim=cosine_sim2):
    # Get the index of the auction that matches the auction_id
    idx =df3.index[df3['_id'] == auction_id][0]
    
    # Get the pairwsie similarity scores of all auctions with that auction
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the auctions based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar auctions
    sim_scores = sim_scores[1:11]

    # Get the auction indices
    auction_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar auctions
    return df3['_id'].iloc[auction_indices].to_json(orient = 'records')

In [103]:
# import pickle
# pickle.dump(get_recommendations_metadata, open("model.pkl", "wb"))

In [104]:
# model = pickle.load(open("./model.pkl", "rb"))
# my_personality = model('407f1f77bcf86cd79943901c')
# print('result: ', my_personality)

In [105]:
 get_recommendations_metadata('6241a586dd804b5ba907bf60')

'["624ab4ab120476628c72c0fb","624acd6096d978a86c9812bd","62580a0d8461b29d70804449","62580a4d8461b29d7080444c","62541616b9ca2bd8a9861d10","625689bc6ab755e4cdc8fd57","625689da6ab755e4cdc8fd5b","62569564a407fac8e7077aed","62569575a407fac8e7077af0","62569c3035bf68c42eeeb4b3"]'